*~
#*#
.#*
*.elc
ac-comphist.dat
auto-save-list/
elpa/*
!elpa/emacs-theme-gruvbox
!elpa/emacs-theme-gruvbox/*
eshell
ido.last
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
snippets/
themes/
thumbs/
tutorial/
url/
var/
vendor/
.python-environments/
.sx/
.authinfo.gpg
image-dired/
oauth2.plstore
cider-history
sesseion*
